.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description{
    text-align: center;
}

.avatar{
    border-radius: 50%;
    width: 200px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.name{
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.tag{
    font-size: 20px;
    margin-bottom: 5px;
}

.location{
    font-size: 20px;
    margin-bottom: 5px;
}

.stats{
    display: flex;
    text-align: center;
    
    list-style-type: none;
}

.label{
    font-size: 20px;
    margin-right: 5px;
}

.quantity{
    font-size: 20px;
    margin-right: 5px;
}

