.menu{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.link{
    width: 80px;
    height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    color:red;
    border: 1px solid red;
}

.active{
    background-color: red;
    color: white;
}